<h1>Este es el template que muestra una tabla</h1>


<table>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>254</td>
        <td>Pepe</td>
        <td>García</td>
        <td>38</td>
      </tr>
      <tr>
        <td>394</td>
        <td>María</td>
        <td>Gonzales</td>
        <td>40</td>
      </tr>
      <tr>
        <td>362</td>
        <td>Ana</td>
        <td>Pernía</td>
        <td>45</td>
      </tr>
    </tbody>
  </table>